@CHARSET "UTF-8";

*{
	margin: auto; /* 设置控件居中 */
	padding: 0px;
}

/* ----------背景设置------------------------ */
body{
	background: #f3f3f3;
}

body>table{
	width: 1000px;
	height: 1000px;
}


/* -------------导航栏设置------------------------- */
.nav-box{
	border-radius: 20px 20px 0px 0px;
	background-image: linear-gradient(#1B93B1, #D3F1F8);
}

.logout{
	padding-right: 5px;
}

/* 设置厂家 */
a[href="#"]{
	font-size: 50px;
	text-decoration: none;
	color: #ffffff;
	text-transform: capitalize;
}

/* 注销 */
.logout>span{
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}
.logout>span:HOVER{
	font-size: 16px;
}

/* 选项卡 */
.tab-box{
	color: #ffffff;
	font-weight: bold;
}

.tab-box td{
	cursor: pointer;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-image: linear-gradient(#1B93B1, #D3F1F8);
}

.tab-box td:NOT(:LAST-CHILD){
	border-right: 1px solid #000;
}

/* -------------正文部分设置---------------------------- */
.one>table,.two>table,.three>table,.four>table,.five>table,.six>table{
border: 10px solid #ffffff;
}

/* 设置左边选项栏 */
.sidebar-one div{
	position: relative;
	top: -350px;
	text-align: center;
	background: #fafafa;
	line-height: 30px;
	font-weight: bold;
}


.content th{
	text-align: left;
}

.content td{
	text-align: center;
	font-size: 14px;
}

.explain_title{
	height: 850px;
}

.explain_title .title{
	background: #1B93B1;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
}

/* ---------右侧说明栏-------------- */
.explain-box-one,.explain-box-two,.explain-box-three,.explain-box-four,.explain-box-five,
.explain-box-six{
	position: relative;
	top: -250px;
	font-size: 14px;
}

.explain-box-one .explain_name,.explain-box-two .explain_name,.explain-box-three .explain_name,.explain-box-four .explain_name,.explain-box-five .explain_name,
.explain-box-six .explain_name{
	font-weight: bold;
}

.explain-box-one a,.explain-box-two a,.explain-box-three a,.explain-box-four a,.explain-box-five a,
.explain-box-six a{
	font-size: 14px;
	color: #000000;
}

.explain-box-one a:HOVER,.explain-box-two a:HOVER,.explain-box-three a:HOVER,.explain-box-four a:HOVER,.explain-box-five a:HOVER,
.explain-box-six a:HOVER{
	color: blue;
	text-decoration: underline;
}

.explain-box-one a:BEFORE,.explain-box-two a:BEFORE,.explain-box-three a:BEFORE,.explain-box-four a:BEFORE,.explain-box-five a:BEFORE,
.explain-box-six a:BEFORE{
	content: "*";
	color: red;
}

/* ----------page 2-------------- */

.sidebar-two div{
	position: relative;
	top: -300px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-two .s1{
	background: #fafafa;
}

.content_two td{
	text-align: center;
	font-size: 14px;
}

.content_two th{
	text-align: left;
}

.content_two select{
	width: 173px;
}

/* -------page 3--------- */
.sidebar-three div{
	position: relative;
	top: -300px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-three .s3_1{
	background: #fafafa;
}

.content_three td{
	text-align: center;
	font-size: 14px;
}

.content_three th{
	text-align: left;
}

.content_three select{
	width: 173px;
}

/* -------page 4--------- */
.sidebar-four div{
	position: relative;
	top: -350px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-four .s4_1{
	background: #fafafa;
}

.content_four tr:FIRST-CHILD{
	background: #999999;
}

.content_four tr td{
	text-align: center;
	font-size: 12px;
}

/* -------page 5--------- */
.sidebar-five div{
	position: relative;
	top: -180px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-five .s5_1{
	background: #fafafa;
}

.content_five td{
	text-align: center;
	font-size: 14px;
}

.content_five th{
	text-align: left;
}

.content_five select{
	width: 173px;
}

/* -------page 5--------- */
.sidebar-six div{
	position: relative;
	top: -150px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-six .s6_1{
	background: #fafafa;
}

.content_six td{
	text-align: center;
	font-size: 14px;
}

.content_six th{
	text-align: left;
}

.content_six select{
	width: 173px;
}

/* 设置所有页面标题和说明的间距 */
.content th span,.explain-box-one div,.content_two th span,.explain-box-two div,.content_three th span,.explain-box-three div,.explain-box-four div,
.content_five th span,.explain-box-five div,.explain-box-six div{
	padding-left: 16px;
}

/* -------标签页切换设置--------- */
.one{
	display: block;
}

.two,.three,.four,.five,.six{
	display: none;
}

