@CHARSET "UTF-8";

*{
	margin: auto; /* 设置控件居中 */
	padding: 0px;
}

/* ----------背景设置------------------------ */
body{
	background: #f3f3f3;
}

body>table{
	width: 1000px;
	height: 1000px;
}


/* -------------导航栏设置------------------------- */
.nav-box{
	border-radius: 20px 20px 0px 0px;
	background-image: linear-gradient(#1B93B1, #D3F1F8);
}

.logout{
	padding-right: 5px;
}

/* 设置厂家 */
a[href="#"]{
	font-size: 50px;
	text-decoration: none;
	color: #ffffff;
	text-transform: capitalize;
}

/* 注销 */
.logout>span{
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}
.logout>span:HOVER{
	font-size: 16px;
}

/* 选项卡 */
.tab-box{
	color: #ffffff;
	font-weight: bold;
}

.tab-box td{
	cursor: pointer;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-image: linear-gradient(#1B93B1, #D3F1F8);
}

.tab-box td:NOT(:LAST-CHILD){
	border-right: 1px solid #000;
}

/* -------------正文部分设置---------------------------- */
.one>table,.two>table,.three>table,.four>table,.five>table,.six>table,.seven>table,.eight>table{
border: 10px solid #ffffff;
}

/* 设置左边选项栏 */
.sidebar-one div{
	position: relative;
	top: -350px;
	text-align: center;
	background: #fafafa;
	line-height: 30px;
	font-weight: bold;
}


.content th{
	text-align: left;
}

.content td{
	text-align: center;
	font-size: 14px;
}

.explain_title{
	height: 850px;
}

.explain_title .title{
	background: #1B93B1;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
}

/* ---------右侧说明栏-------------- */
.explain-box-one,.explain-box-two,.explain-box-three,.explain-box-four,.explain-box-five,
.explain-box-six,.explain-box-seven,.explain-box-eight{
	position: relative;
	top: -250px;
	font-size: 14px;
}

.explain-box-one .explain_name,.explain-box-two .explain_name,.explain-box-three .explain_name,.explain-box-four .explain_name,.explain-box-five .explain_name,
.explain-box-six .explain_name,.explain-box-seven .explain_name,.explain-box-eight .explain_name{
	font-weight: bold;
}

.explain-box-one a,.explain-box-two a,.explain-box-three a,.explain-box-four a,.explain-box-five a,
.explain-box-six a,.explain-box-seven a,.explain-box-eight a{
	font-size: 14px;
	color: #000000;
}

.explain-box-one a:HOVER,.explain-box-two a:HOVER,.explain-box-three a:HOVER,.explain-box-four a:HOVER,.explain-box-five a:HOVER,
.explain-box-six a:HOVER,.explain-box-seven a:HOVER,.explain-box-eight a:HOVER{
	color: blue;
	text-decoration: underline;
}

.explain-box-one a:BEFORE,.explain-box-two a:BEFORE,.explain-box-three a:BEFORE,.explain-box-four a:BEFORE,.explain-box-five a:BEFORE,
.explain-box-six a:BEFORE,.explain-box-seven a:BEFORE,.explain-box-eight a:BEFORE{
	content: "*";
	color: red;
}

/* ----------page 2-------------- */

.sidebar-two div{
	position: relative;
	top: -300px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.content_two tr:FIRST-CHILD{ background: #999999; }

.sidebar-two .s1{
	background: #fafafa;
}

.content_two td{
	text-align: center;
	font-size: 14px;
}

.content_two th{
	text-align: left;
}

.content_two select{
	width: 173px;
}

.s1,.s2,.s3,.s4,.s5:HOVER{
	cursor: pointer;
}
/* ----------page 2-2-------------- */
.content_two_2 tr:FIRST-CHILD{ background: #999999; }
.content_two_2 td{ text-align: center; font-size: 14px; height: 30px; }
.content_two_2 select{ width: 173px; }
/* ----------page 2-3-------------- */
.content_two_3 td{ text-align: center; font-size: 14px; height: 30px; }
.content_two_3 select{ width: 173px; }
.content_two_3 table [type="button"]{ width: 20px;height: 20px; }
/* ----------page 2-4-------------- */
.content_two_4 tr:FIRST-CHILD{ background: #999999; }
.content_two_4 td{ text-align: center; font-size: 14px;}
.content_two_4 select{ width: 173px; }
/* ----------page 2-5-------------- */
.content_two_5 tr:FIRST-CHILD{ background: #999999; }
.content_two_5 td{ text-align: center; font-size: 14px;}
.content_two_5 select{ width: 173px; }
/* -------page 3--------- */
.sidebar-three div{
	position: relative;
	top: -300px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-three .s3_1{
	background: #fafafa;
}

.content_three td{
	text-align: center;
	font-size: 14px;
}

.content_three th{
	text-align: left;
}

.content_three select{
	width: 173px;
}

.s3_1,.s3_2,.s3_3,.s3_4,.s3_5,.s3_6:HOVER{
	cursor: pointer;
}

#page3_2,#page3_3,#page3_4,#page3_5,#page3_6{
	display: none;
}

/* ----------page 3-2-------------- */
.content_three_2 tr:NOT(:LAST-CHILD){ height: 30px; }
.content_three_2 td{ text-align: center; font-size: 14px;}
.content_three_2 select{text-align: left; width: 173px; }
/* ----------page 3-3-------------- */
.content_three_3 tr td span{ font-weight: bold; padding-left: 14px;}
.content_three_3 tr:NOT(:LAST-CHILD){ height: 30px; }
.content_three_3 td{ text-align: center; font-size: 14px;}
.content_three_3 select{ width: 173px; }
/* ----------page 3-4-------------- */
.content_three_4 .page3_4_content_title{ font-weight: bold; padding-left: 14px;}
.content_three_4 td{ text-align: center; font-size: 14px;}
.content_three_4 select{ width: 173px; }
/* ----------page 3-5-------------- */
.content_three_5 .page3_5_content_title{ font-weight: bold; padding-left: 14px;}
.content_three_5 td{ text-align: center; font-size: 14px;}
.content_three_5 select{ width: 173px; }
.content_three_5 td:nth-child(2){ text-align: left; }
/* ----------page 3-6-------------- */
.content_three_6 .page3_6_content_title{ font-weight: bold; padding-left: 14px;}
.content_three_6 tr:NOT(:LAST-CHILD){ height: 30px; }
.content_three_6 td{ text-align: center; font-size: 14px;}
.content_three_6 select{ width: 173px; }
.content_three_6 textarea{ width: 450px; height: 250px; background: #fafafa; resize: none;}

/* -------page 4--------- */
.sidebar-four div{
	position: relative;
	top: -350px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-four .s4_1{
	background: #fafafa;
}

.content_four tr:FIRST-CHILD{
	background: #999999;
}

.content_four tr td{
	text-align: center;
	font-size: 12px;
}

.s4_1,.s4_2:HOVER{
	cursor: pointer;
}

#page4_2{ display: none; }
/* ----------page 4-2-------------- */
.content_four_2 tr:FIRST-CHILD{ background: #999999; }
.content_four_2 tr:NOT(:LAST-CHILD){ height: 40px; }
.content_four_2 tr td{ text-align: center; font-size: 12px; }
.content_four_2 [type="text"]{ width: 100px; }
.content_four_2 select{ width: 100px; }

/* -------page 5--------- */
.sidebar-five div{
	position: relative;
	top: -140px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-five .s5_1{
	background: #fafafa;
}

.content_five td{
	text-align: center;
	font-size: 14px;
}

.content_five th{
	text-align: left;
}

.content_five select{
	width: 173px;
}

.s5_1,.s5_2,.s5_3,.s5_4,.s5_5,.s5_6,.s5_7,.s5_8,.s5_9,.s5_10,.s5_11,.s5_12,.s5_13,.s5_14,.s5_15,
.s5_16:HOVER{ cursor: pointer; }

#page5_2,#page5_3,#page5_4,#page5_5,#page5_6,#page5_7,#page5_8,#page5_9,#page5_10,#page5_11,#page5_12
,#page5_13,#page5_14,#page5_15,#page5_16{ display: none; }

/* ----------page 5-2-------------- */
.content_five_2 select{ width: 173px; }
.content_five_2 tr td{ text-align: center; font-size: 14px; }
.content_five_2 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_2 tr span{ padding-left: 14px; }
/* ----------page 5-3-------------- */
.content_five_3 select{ width: 173px; }
.content_five_3 tr td{ text-align: center; font-size: 14px; }
.content_five_3 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_3 tr span{ padding-left: 14px; }
/* ----------page 5-4-------------- */
.content_five_4 select{ width: 173px; }
.content_five_4 tr td{ font-size: 14px; }
.content_five_4 tr td:FIRST-CHILD{ text-align: center;}
.content_five_4 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_4 tr span{ padding-left: 14px; }
/* ----------page 5-5-------------- */
.content_five_5 select{ width: 173px; }
.content_five_5 tr td{ text-align: center; font-size: 14px; }
.content_five_5 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_5 tr span{ padding-left: 14px; }
.content_five_5 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 5-6-------------- */
.content_five_6 select{ width: 173px; }
.content_five_6 tr td{ text-align: center; font-size: 14px; }
.content_five_6 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_6 tr span{ padding-left: 14px; }
.content_five_6 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 5-7-------------- */
.content_five_7 select{ width: 173px; }
.content_five_7 tr td{ text-align: center; font-size: 14px; }
.content_five_7 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_7 tr span{ padding-left: 14px; }
.content_five_7 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 5-8-------------- */
.content_five_8 select{ width: 173px; }
.content_five_8 tr td{ text-align: center; font-size: 14px; }
.content_five_8 tr:FIRST-CHILD,.content_five_8 tr:nth-child(9){ font-weight: bold; }
.content_five_8 tr span{ padding-left: 14px; }
.content_five_8 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 5-9-------------- */
.content_five_9 select{ width: 173px; }
.content_five_9 tr td{ text-align: center; font-size: 14px; }
.content_five_9 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_9 tr span{ padding-left: 14px; }
.content_five_9 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 5-10-------------- */
.content_five_10 select{ width: 173px; }
.content_five_10 tr td{ text-align: center; font-size: 14px; }
.content_five_10 tr span{ padding-left: 14px; }
.content_five_10 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 5-11-------------- */
.content_five_11 select{ width: 173px; }
.content_five_11 tr td{ text-align: center; font-size: 14px; }
.content_five_11 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_11 tr span{ padding-left: 14px; }
.content_five_11 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 5-12-------------- */
.content_five_12 select,.content_five_12 [type="text"],.content_five_12 textarea{ width: 280px; }
.content_five_12 textarea{ height: 200px; }
.content_five_12 tr td{ text-align: center; font-size: 14px; }
.content_five_12 tr span{ padding-left: 14px; }
.content_five_12 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 5-13-------------- */
.content_five_13 tr td{ text-align: center; font-size: 14px; }
.content_five_13 [type="text"]{ width: 280px }
/* ----------page 5-14-------------- */
.content_five_14 tr td{ text-align: center; font-size: 14px; }
.content_five_14 [type="text"]{ width: 280px }
/* ----------page 5-15-------------- */
.content_five_15 select{ width: 173px; }
.content_five_15 tr td{ text-align: center; font-size: 14px; }
.content_five_15 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_15 tr span{ padding-left: 14px; }
.content_five_15 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 5-16-------------- */
.content_five_16 select{ width: 173px; }
.content_five_16 tr td{ text-align: center; font-size: 14px; }
.content_five_16 tr:FIRST-CHILD{ font-weight: bold; }
.content_five_16 tr span{ padding-left: 14px; }
.content_five_16 tr:NOT(:LAST-CHILD){ height: 40px; }

/* -------page 6--------- */
.sidebar-six div{
	position: relative;
	top: -150px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-six .s6_1{
	background: #fafafa;
}

.content_six td{
	text-align: center;
	font-size: 14px;
}

.content_six th{
	text-align: left;
}

.content_six select{
	width: 173px;
}
/* ----------page 6-2-------------- */
.content_six_2 tr td{ font-size: 14px; }
.content_six_2 tr td:FIRST-CHILD{ text-align: center;width: 200px;}
.content_six_2 tr:FIRST-CHILD{ font-weight: bold; }
.content_six_2 tr span{ padding-left: 14px; }
.content_six_2 tr:NOT(:LAST-CHILD){ height: 40px; }
/*select*/
.content_six_2 tr:nth-child(2) select,
.content_six_2 tr:nth-child(3) select,
.content_six_2 tr:nth-child(6) select,
.content_six_2 tr:nth-child(11) select,
.content_six_2 tr:nth-child(17) select,
.content_six_2 tr:nth-child(18) select
{width: 173px;}
.content_six_2 tr:nth-child(8) select,
.content_six_2 tr:nth-child(9) select
{width: 80px;}
/*input text*/
.content_six_2 tr:nth-child(8) [type="text"],
.content_six_2 tr:nth-child(9) [type="text"],
.content_six_2 tr:nth-child(15) [type="text"],
.content_six_2 tr:nth-child(16) [type="text"]
{width: 50px;}
/* ----------page 6-3-------------- */
.content_six_3 select{ width: 173px; }
.content_six_3 tr td{ text-align: center; font-size: 14px; }
.content_six_3 tr:FIRST-CHILD{ font-weight: bold; }
.content_six_3 tr span{ padding-left: 14px; }
.content_six_3 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 6-4-------------- */
.content_six_4 tr td{ font-size: 14px; width: 150px;}
.content_six_4 tr td:FIRST-CHILD{ text-align: center; }
.content_six_4 tr:FIRST-CHILD,.content_six_4 tr:nth-child(4),.content_six_4 tr:nth-child(6),.content_six_4 tr:nth-child(7)
{ font-weight: bold; }
.content_six_4 tr span{ padding-left: 14px; }
.content_six_4 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 6-5-------------- */
.content_six_5 select{ width: 173px; }
.content_six_5 tr td{ font-size: 14px; width: 180px;}
.content_six_5 tr td:FIRST-CHILD{ text-align: center; }
.content_six_5 tr:FIRST-CHILD{ font-weight: bold; }
.content_six_5 tr span{ padding-left: 14px; }
.content_six_5 tr:nth-child(7) [type="text"],
.content_six_5 tr:nth-child(8) [type="text"],
.content_six_5 tr:nth-child(9) [type="password"]
{width: 300px;}
.content_six_5 tr:nth-child(21) [type="text"],
.content_six_5 tr:nth-child(25) [type="text"]
{width: 25px;}
/* ----------page 6-6-------------- */
.content_six_6 select{ width: 173px; }
.content_six_6 tr td{ font-size: 12px; width: 150px;}
.content_six_6 tr td:FIRST-CHILD{ text-align: center; }
.content_six_6 tr span{ padding-left: 14px; }
.content_six_6 tr:nth-child(18),.content_six_6 tr:nth-child(13){ font-weight: bold; }
.content_six_6 tr [type="button"],.content_six_6 tr [type="submit"]{width: 50px;}
.content_six_6 tr:nth-child(20) [type="text"]:LAST-CHILD{ width: 50px; }
/* ----------page 6-7-------------- */
.content_six_7 .content_six_7_head td:NOT(:LAST-CHILD){width: 100px; height: 40px; font-weight: bold; font-size: 14px; text-align: center;}
.content_six_7 .content_six_7_1 tr:NOT(:LAST-CHILD){height: 30px; font-size: 12px; text-align: center;}
.content_six_7 .content_six_7_1 tr td:FIRST-CHILD{width: 60px;}
.content_six_7 .content_six_7_1 tr td:LAST-CHILD{width: 40px;}
.content_six_7 .content_six_7_1 tr:FIRST-CHILD{ background: #cccccc;}
.content_six_7 .content_six_7_1 tr:NTH-CHILD(odd):NOT(:nth-child(13)){ background: #e2e2e2;}
.content_six_7 .content_six_7_1 tr:NTH-CHILD(even):NOT(:nth-child(14)){ background: #f2f2f2;}
.content_six_7 .content_six_7_1 [type="text"]{ width: 120px; }
.content_six_7 .content_six_7_1 [type="button"]{width: 80px}

.content_six_7 .content_six_7_2 tr:NOT(:LAST-CHILD){height: 30px; font-size: 12px; text-align: center;}
.content_six_7 .content_six_7_2 tr td:FIRST-CHILD{width: 60px;}
.content_six_7 .content_six_7_2 tr td:nth-child(2){width: 245px;}
.content_six_7 .content_six_7_2 tr td:LAST-CHILD{width: 40px;}
.content_six_7 .content_six_7_2 tr:FIRST-CHILD{ background: #cccccc;}
.content_six_7 .content_six_7_2 tr:NTH-CHILD(odd):NOT(:nth-child(13)){ background: #e2e2e2;}
.content_six_7 .content_six_7_2 tr:NTH-CHILD(even):NOT(:nth-child(14)){ background: #f2f2f2;}
.content_six_7 .content_six_7_2 [type="button"]{width: 80px}

.content_six_7 .content_six_7_3 tr:NOT(:LAST-CHILD){height: 30px; font-size: 12px; text-align: center;}

.content_six_7 .content_six_7_4 tr:NOT(:LAST-CHILD){height: 30px; font-size: 12px; text-align: center;}
/* ----------page 6-8-------------- */
.content_six_8 select{ width: 173px; }
.content_six_8 tr td{ text-align: center; font-size: 14px; }
.content_six_8 tr:NOT(:LAST-CHILD){ height: 40px; }
.content_six_8 tr:nth-child(1),.content_six_8 tr:nth-child(5){ font-weight: bold; }
.content_six_8 tr span{ padding-left: 14px; }
/* ----------page 6-9-------------- */
.content_six_9 select{ width: 173px; }
.content_six_9 tr td:FIRST-CHILD{ width: 50px; }
.content_six_9 tr td{ text-align: center; font-size: 14px; }
.content_six_9 tr:NOT(:LAST-CHILD){ height: 30px; }
/* ----------page 6-10-------------- */
.content_six_10 select{ width: 173px; }
.content_six_10 tr td{ text-align: center; font-size: 14px; }
.content_six_10 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 6-11-------------- */
.content_six_11 select{ width: 173px; }
.content_six_11 tr td{ text-align: center; font-size: 14px; }
.content_six_11 tr:NOT(:LAST-CHILD){ height: 40px; }
.content_six_11 tr:nth-child(3) [type="button"],
.content_six_11 tr:nth-child(6) [type="button"]
{ width: 20px;height: 20px; }
/* ----------page 6-12-------------- */
.content_six_12 select{ width: 173px; }
.content_six_12 tr td{ text-align: center; font-size: 14px; }
.content_six_12 tr span{ padding-left: 14px; }
.content_six_12 tr:FIRST-CHILD{ font-weight: bold; }
.content_six_12 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 6-13-------------- */
.content_six_13 select{ width: 173px; }
.content_six_13 tr td{ text-align: center; font-size: 14px; }
.content_six_13 tr span{ padding-left: 14px; }
.content_six_13 tr:nth-child(11){ font-weight: bold; }
.content_six_13 tr:NOT(:LAST-CHILD){ height: 40px; }
.content_six_13 tr:nth-child(13) [type="button"]{ width: 20px;height: 20px; }
/* ----------page 6-14-------------- */
.content_six_14 tr:FIRST-CHILD{ font-weight: bold; }
.content_six_14 tr td{ text-align: center; font-size: 14px; }
.content_six_14 tr span{ padding-left: 14px; }
.content_six_14 tr:NOT(:LAST-CHILD){ height: 40px; }
/* ----------page 6-15-------------- */
.content_six_15 select{ width: 173px; }
.content_six_15 tr td:FIRST-CHILD{ text-align: center;}
.content_six_15 tr td{ font-size: 14px; }
.content_six_15 tr:nth-child(2),.content_six_15 tr:nth-child(10)
{ font-weight: bold; }
.content_six_15 tr span{ padding-left: 14px; }
.content_six_15 tr:nth-child(3) [type="text"],
.content_six_15 tr:nth-child(4) [type="text"],
.content_six_15 tr:nth-child(5) [type="text"],
.content_six_15 tr:nth-child(6) [type="text"],
.content_six_15 tr:nth-child(7) [type="text"],
.content_six_15 tr:nth-child(8) [type="text"],
.content_six_15 tr:nth-child(9) [type="text"]
{width: 50px;}
.content_six_15 tr:NOT(:LAST-CHILD){ height: 40px; }

/* -------page 7--------- */
.sidebar-seven div{
	position: relative;
	top: -280px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-seven .s7_1{
	background: #fafafa;
}

/* 联系人显示 */
.content_seven{ table-layout: fixed;}
.page7_contacts_show{ table-layout: fixed; font-size: 14px;}
.page7_contacts_show tr:FIRST-CHILD{ background: #999999;}
.page7_contacts_show tr:NTH-CHILD(odd):NOT(:FIRST-CHILD){ background: #f2f2f2;}
.page7_contacts_show tr:NTH-CHILD(even):NOT(:LAST-CHILD){ background: #cccccc;}
.page7_contacts_show tr:LAST-CHILD{ background: #a4aab2;}
.page7_contacts_show td{ text-align: center; }
/* 联系人编辑 */
.page7_contact_set{width: 300px; height: 583px; text-align: center; font-size: 14px;}
.page7_contact_set select{width: 173px;}
.page7_contact_set tr:FIRST-CHILD td{ font-weight: bold;}
.page7_contact_set tr:NOT(:LAST-CHILD){ height: 30px;}
/* 群组和导入联系人 */
.page7_contact_group{width: 300px; height: 583px; text-align: left; font-size: 14px;}
.page7_contact_group select{width: 173px;}
.page7_contact_group tr:NOT(:LAST-CHILD){ height: 30px;}

/* -------page 8--------- */
.sidebar-eight div{
	position: relative;
	top: -330px;
	text-align: center;
	background: #c0c0c0;
	line-height: 30px;
	font-weight: bold;
}

.sidebar-eight .s8_1{
	background: #fafafa;
}

.content_eight td{
	text-align: center;
	font-size: 14px;
}

.content_eight select{
	width: 173px;
}

/* 设置所有页面标题和说明的间距 */
.content th span,.explain-box-one div,.content_two th span,.explain-box-two div,.content_three th span,.explain-box-three div,.explain-box-four div,
.content_five th span,.explain-box-five div,.explain-box-six div,.explain-box-seven div,.explain-box-eight div{
	padding-left: 16px;
}

/* -------标签页切换设置--------- */
.one{
	display: block;
}

.two,.three,.four,.five,.six,.seven,.eight{
	display: none;
}

